#root {
  max-width: 1700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  width: 700px;
}

.mid-container {
  display: flex;
  align-items: center;
}

.left,
.right {
  border: none;
  border-top: 1px solid rgb(219, 219, 219);
  flex: 1;
}

.featured {
  margin: 0 10px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

/* .box {
  background-color: aliceblue;
} */
