#root {
  max-width: 1700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.title-container {
  margin-bottom: -45px;
  margin-top: -90px;
}

.title {
  max-width: 800px;
  margin-left: -20px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 170px;
  margin-top: -170px;
  gap: 50px;
}

.btn-container h1 {
  font-size: 20px;
  font-weight: 700;
}

.btn-container button {
  background-color: #833535;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
}

.present-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Mid container style  */

.mid-container {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-top: -120px;
  padding: 0 150px !important;
}

.left,
.right {
  border: none;
  border-top: 1px solid rgb(219, 219, 219);
  flex: 1;
}

.featured {
  margin: 0 20px;
}

.star-icon {
  height: 50px;
  margin-left: 18px;
}

/* Box style */

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 10px;
  gap: 50px;
  margin: 0 auto;
  max-width: 1600px;
}

.box {
  background-color: rgba(108, 115, 121, 0.61);
  min-height: 400px;
  max-width: 400px;
  min-width: 385px;
}

.first-rectangle {
  background-color: rgb(59, 57, 57);
  height: 110px;
  margin-top: 90px;
}

.logo {
  height: 170px;
  margin-top: -37px;
}

.daddy-logo {
  height: 140px;
  margin-top: -15px;
}

.empire-logo {
  height: 190px;
  margin-top: -40px;
}

.hell-logo {
  height: 190px;
  margin-top: -45px;
}

/* First part of each box style  */

.right-title {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: -70px;
  margin-bottom: -60px;
}

.right-title p {
  font-size: 18px;
  font-weight: 900;
}

/* $ 0.50 rectangle style */

.rectangle-container {
  position: relative;
  width: 100px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
}

.rectangle {
  width: 75%;
  height: 75%;
  background-color: #3498db; /* Adjust color as needed */
  transform: translateX(-25%);
  margin-top: 10px;
}

.rectangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  top: 100%;
  transform: translateX(-160%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 1px 19px;
  border-color: #3498db transparent transparent transparent;
}

.rectangle p {
  font-size: 18px;
  font-weight: 500;
}

/* Small rectangle */

.small-rectangles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  gap: 10px;
  margin-top: 30px;
  padding: 0 40px;
}

.small-box {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgb(63, 62, 62);
}

.small-box h1 {
  font-size: 18px;
  margin: 0;
}

.small-box img {
  width: 40px;
  margin-bottom: -5px;
}

/* CSGODOT buttons  */

.dotcode-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dotcode-btn button {
  padding: 15px 21px;
  font-size: 30px;
  font-weight: 900;
}

.right-btn {
  margin-top: 105px;
}

/* Searchbar style */

.search {
  background-color: rgb(224, 221, 221);
  width: 240px;
  height: 25px;
  border: none;
  border-radius: 2px;
  color: black;
}

.searchbar-container {
  margin-bottom: 40px;
  margin-top: -50px;
}

.filter-search {
  margin-bottom: 100px;
  margin-top: -70px;
}
