/* Mobile responsiveness   */
@media (max-width: 1660px) {
  .box-container {
    max-width: 1400px;
  }
}

@media (max-width: 1250px) {
  .box-container {
    max-width: 1000px;
  }
}

@media (max-width: 890px) {
  .title {
    max-width: 720px;
  }

  .btn-container {
    margin-top: -100px;
  }

  .box-container {
    max-width: 600px;
  }
}

@media (max-width: 815px) {
  .title {
    max-width: 620px;
  }
}

@media (max-width: 715px) {
  .title {
    max-width: 400px;
  }
  .mid-container {
    padding: 0 !important;
  }

  .btn-container {
    margin-top: -40px;
    margin-left: -20px;
    gap: 20px;
  }

  .btn-container h1 {
    font-size: 15px;
    font-weight: 700;
  }

  .btn-container button {
    min-width: 170px;
  }

  .steam-btn {
    height: 41px;
  }
}

@media (max-width: 550px) {
  .dropdown-content {
    margin-left: -104.3px;
    margin-top: 2px;
  }
}

@media (max-width: 450px) {
  .box {
    margin-left: -20px;
  }

  .btn-container {
    margin-left: 5px;
  }

  .mid-container h1 {
    font-size: 24px;
  }

  .star-icon {
    height: 35px;
  }

  .title {
    margin-left: -30px;
  }
}

@media (max-width: 390px) {
  .btn-container {
    margin-left: 5px !important;
  }

  .mid-container {
    margin-right: -10px;
  }

  .title {
    width: 375px;
    margin-left: -28px;
  }
  .box {
    min-width: 165px !important;
    width: 360px;
  }

  .logo {
    width: 350px;
  }

  .small-box h1 {
    font-size: 15px;
  }

  .btn-container {
    margin-left: 50px;
  }
}

@media (max-width: 375px) {
  .btn-container {
    margin-left: 25px !important;
  }

  .searchbar-container {
    margin-left: -10px;
  }
}

@media (max-width: 360px) {
  .btn-container {
    margin-left: 35px !important;
  }

  .searchbar-container {
    margin-left: -40px;
  }
}
